p{
    text-align: left;
}

h1{
    text-align: center;
}

#letter{
    /* background-image: url("Graphic/Pergamin.jpg"); */
    margin-left: 20%;
    width: 60%;
    line-height: 130%;
}

body{
    background-image: url("Graphic/Pergamin.jpg");
    background-size: 100%;
}

p{
    margin-bottom: 5px;
}
